### A sample solve in Linear Algebra using NumPy

In [ ]:
import numpy as np

In [4]:
#import seaborn as sns
#df=sns.load_dataset('planets')

In [5]:
#from numpy import * # * isareti herseyi icerir ayri bir item secmeye gerek kalmaz

In [7]:
#create a range
#arguments: start,stop, step
a = array([3,4]) # np kullanmadan kullanabiliyoruz artik burda oldugu gibi.
a

array([3, 4])

In [ ]:
#3*x + y = 9
#x + 2*  y = 8

In [9]:
a = np.array([[3,1], [1,2]])
b = np.array([9,8])

In [10]:
a

array([[3, 1],
       [1, 2]])

In [11]:
b

array([9, 8])

In [12]:
np.linalg.solve(a,b)

array([2., 3.])

In [13]:
# arguments: starts, stop, step
= np.arange(0,10,1)
x

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [88]:
y = np.arange(-1,1,0.2)
y

array([-1.00000000e+00, -8.00000000e-01, -6.00000000e-01, -4.00000000e-01,
       -2.00000000e-01, -2.22044605e-16,  2.00000000e-01,  4.00000000e-01,
        6.00000000e-01,  8.00000000e-01])

### linspace and logspace

In [14]:
# usning linspace, both end points ARE included
np.linspace(0,10,25)

array([ 0.        ,  0.41666667,  0.83333333,  1.25      ,  1.66666667,
        2.08333333,  2.5       ,  2.91666667,  3.33333333,  3.75      ,
        4.16666667,  4.58333333,  5.        ,  5.41666667,  5.83333333,
        6.25      ,  6.66666667,  7.08333333,  7.5       ,  7.91666667,
        8.33333333,  8.75      ,  9.16666667,  9.58333333, 10.        ])

In [15]:
np.logspace(0,10,10, base = 2)

array([1.00000000e+00, 2.16011948e+00, 4.66611616e+00, 1.00793684e+01,
       2.17726400e+01, 4.70315038e+01, 1.01593667e+02, 2.19454460e+02,
       4.74047853e+02, 1.02400000e+03])

In [16]:
np.logspace(0,10,10, base = np.e)

array([1.00000000e+00, 3.03773178e+00, 9.22781435e+00, 2.80316249e+01,
       8.51525577e+01, 2.58670631e+02, 7.85771994e+02, 2.38696456e+03,
       7.25095809e+03, 2.20264658e+04])

### random data

In [18]:
# iniform random numbers in [0,1]
# seed() must be anderlined to the student, what is it used for?
# seed i sabitlememiz lazim random gelecek sayilarin aynisinin her seferinde gelmesi icin
np.random.seed(0)
np.random.rand(3,3)

array([[0.5488135 , 0.71518937, 0.60276338],
       [0.54488318, 0.4236548 , 0.64589411],
       [0.43758721, 0.891773  , 0.96366276]])

In [33]:
np.random.rand(3,3)

array([[0.97676109, 0.60484552, 0.73926358],
       [0.03918779, 0.28280696, 0.12019656],
       [0.2961402 , 0.11872772, 0.31798318]])

In [24]:
import numpy as np

In [44]:
np.random.seed(0)
np.random.rand(3,3)

array([[0.5488135 , 0.71518937, 0.60276338],
       [0.54488318, 0.4236548 , 0.64589411],
       [0.43758721, 0.891773  , 0.96366276]])

In [45]:
np.random.rand(3,3)

array([[0.38344152, 0.79172504, 0.52889492],
       [0.56804456, 0.92559664, 0.07103606],
       [0.0871293 , 0.0202184 , 0.83261985]])

In [46]:
np.random.rand(3,3)

array([[0.77815675, 0.87001215, 0.97861834],
       [0.79915856, 0.46147936, 0.78052918],
       [0.11827443, 0.63992102, 0.14335329]])

In [47]:
np.random.seed(0)
np.random.rand(5,5)

array([[0.5488135 , 0.71518937, 0.60276338, 0.54488318, 0.4236548 ],
       [0.64589411, 0.43758721, 0.891773  , 0.96366276, 0.38344152],
       [0.79172504, 0.52889492, 0.56804456, 0.92559664, 0.07103606],
       [0.0871293 , 0.0202184 , 0.83261985, 0.77815675, 0.87001215],
       [0.97861834, 0.79915856, 0.46147936, 0.78052918, 0.11827443]])

In [48]:
np.random.rand(5,5)

array([[0.63992102, 0.14335329, 0.94466892, 0.52184832, 0.41466194],
       [0.26455561, 0.77423369, 0.45615033, 0.56843395, 0.0187898 ],
       [0.6176355 , 0.61209572, 0.616934  , 0.94374808, 0.6818203 ],
       [0.3595079 , 0.43703195, 0.6976312 , 0.06022547, 0.66676672],
       [0.67063787, 0.21038256, 0.1289263 , 0.31542835, 0.36371077]])

In [49]:
# standard normal distributed random numbers
np.random.randn(3,3)

array([[-1.70627019,  1.9507754 , -0.50965218],
       [-0.4380743 , -1.25279536,  0.77749036],
       [-1.61389785, -0.21274028, -0.89546656]])

# diag

In [50]:
# a diagonal matrix
np.diag([1,2,3,4])

array([[1, 0, 0, 0],
       [0, 2, 0, 0],
       [0, 0, 3, 0],
       [0, 0, 0, 4]])

In [54]:
# diagonal with offset from the main diagonal.
np.diag([1,2,3,4], k = -1)

array([[0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 2, 0, 0, 0],
       [0, 0, 3, 0, 0],
       [0, 0, 0, 4, 0]])

In [55]:
np.diag([1,2,3,4], k = +2)

array([[0, 0, 1, 0, 0, 0],
       [0, 0, 0, 2, 0, 0],
       [0, 0, 0, 0, 3, 0],
       [0, 0, 0, 0, 0, 4],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0]])

## Manipulating arraysÂ¶

### Fancy Index

In [56]:
B = np.array(range(5))
B

array([0, 1, 2, 3, 4])

In [60]:
row_mask = np.array([True, False, True, False, False])
B[row_mask]

array([0, 2])

In [61]:
row_mask = np.array([1,0,1,0,0], dtype = bool)
B[row_mask]

array([0, 2])

In [62]:
x= np.arange(0,10,0.5)
x

array([0. , 0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5, 5. , 5.5, 6. ,
       6.5, 7. , 7.5, 8. , 8.5, 9. , 9.5])

In [63]:
mask = (5 < x) & (x < 7.5)
mask

array([False, False, False, False, False, False, False, False, False,
       False, False,  True,  True,  True,  True, False, False, False,
       False, False])

In [64]:
x[mask]

array([5.5, 6. , 6.5, 7. ])

### Functioins for extracting data from arrays and creating arrays

### Where

In [67]:
mask

array([False, False, False, False, False, False, False, False, False,
       False, False,  True,  True,  True,  True, False, False, False,
       False, False])

In [69]:
indices = np.where(mask) # where index yerini getiriyor.
indices

(array([11, 12, 13, 14], dtype=int64),)

In [70]:
x[indices] # integer gdegerler uzrinde slice lama yapar

array([5.5, 6. , 6.5, 7. ])

In [71]:
x[mask] #boolen uzerinden slicing yapar

array([5.5, 6. , 6.5, 7. ])

### diag

In [72]:
A = np.array([[1,2,3,4], [5,6,7,8], [1,2,3,4], [5,6,7,8]])
A

array([[1, 2, 3, 4],
       [5, 6, 7, 8],
       [1, 2, 3, 4],
       [5, 6, 7, 8]])

In [73]:
np.diag(A)

array([1, 6, 3, 8])

In [74]:
np.diag([1,6,3,8])

array([[1, 0, 0, 0],
       [0, 6, 0, 0],
       [0, 0, 3, 0],
       [0, 0, 0, 8]])

In [75]:
np.diag(A, k=1)

array([2, 7, 4])

In [76]:
np.diag(A, k=-3)

array([5])

### take

In [77]:
v2 = np.arange(-3,3)
v2

array([-3, -2, -1,  0,  1,  2])

In [78]:
# fancy indexing
row_index = [1,3,5]
v2[row_index]

array([-2,  0,  2])

In [79]:
v2.take(row_index)

array([-2,  0,  2])

### choose

In [84]:
which = [1,0,1,2]
choices = [[-2,-3,-4,-5], [6,7,8,9],[1,2,3,4]]

In [85]:
np.choose(which, choices)

array([ 6, -3,  8,  4])

In [86]:
import pandas as pd
people_dict={"first":["Richard", "Robert", "Jason"],
             "last" :["Stone", "Deepdive", "Seaborn"],
             "email": ["richardstone@email.com", "robertdeepdive@email.com", 
                        "jasonseaborn@email.com"]}
df=pd.DataFrame(people_dict)
df

     first      last                     email
0  Richard     Stone    richardstone@email.com
1   Robert  Deepdive  robertdeepdive@email.com
2    Jason   Seaborn    jasonseaborn@email.com

In [87]:
df[(df['first']=="Richard") | (df['last'] == 'Deepdive')]

     first      last                     email
0  Richard     Stone    richardstone@email.com
1   Robert  Deepdive  robertdeepdive@email.com