___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# Data Input and Output

This notebook is the reference code for getting input and output, pandas can read a variety of file types using its pd.read_ methods. Let's take a look at the most common data types:

In [66]:
import numpy as np
import pandas as pd

## CSV

### CSV Input

In [67]:
df = pd.read_csv("example.csv")
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [68]:
pd.read_csv("sample.csv")
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [69]:
pd = pd.read_csv('titanic.csv')
pd

                        PassengerId\tSurvived\tPclass\tName\tSex\tAge\tSibSp\tParch\tTicket\tFare\tCabin\tEmbarked
1\t0\t3\tBraund           Mr. Owen Harris\tmale\t22\t1\t0\tA/5 21171\t7...
2\t1\t1\tCumings          Mrs. John Bradley (Florence Briggs Thayer)\tf...
3\t1\t3\tHeikkinen        Miss. Laina\tfemale\t26\t0\t0\tSTON/O2. 31012...
4\t1\t1\tFutrelle         Mrs. Jacques Heath (Lily May Peel)\tfemale\t3...
5\t0\t3\tAllen            Mr. William Henry\tmale\t35\t0\t0\t373450\t8....
...                                                                    ...
152\t1\t1\tPears          Mrs. Thomas (Edith Wearne)\tfemale\t22\t1\t0\...
153\t0\t3\tMeo            Mr. Alfonzo\tmale\t55.5\t0\t0\tA.5. 11206\t8....
154\t0\t3\tvan Billiard   Mr. Austin Blyler\tmale\t40.5\t0\t2\tA/5. 851...
155\t0\t3\tOlsen          Mr. Ole Martin\tmale\t\t0\t0\tFa 265302\t7.31...
156\t0\t1\tWilliams       Mr. Charles Duane\tmale\t51\t0\t1\tPC 17597\t...

[156 rows x 1 columns]

In [70]:
df = pd.read_csv('titanic.csv', sep = "\t" )
df

AttributeError: 'DataFrame' object has no attribute 'read_csv'

In [71]:
df1 = pd.read_csv("titanic.csv", delimiter='\t') 
df1

AttributeError: 'DataFrame' object has no attribute 'read_csv'

In [72]:
pd.read_csv("ornekcsv.csv")

AttributeError: 'DataFrame' object has no attribute 'read_csv'

In [73]:
x= pd.read_csv("ornek.csv", delimiter= ";") 
x

AttributeError: 'DataFrame' object has no attribute 'read_csv'

In [74]:
pd.read_csv("ornekcsv.csv", sep = ";")

AttributeError: 'DataFrame' object has no attribute 'read_csv'

### CSV Output

In [75]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [76]:
df.drop("d", axis = 1, inplace = True)
df

    a   b   c
0   0   1   2
1   4   5   6
2   8   9  10
3  12  13  14

In [77]:
df.to_csv('example',index=False)

In [78]:
df

    a   b   c
0   0   1   2
1   4   5   6
2   8   9  10
3  12  13  14

In [79]:
z = pd.read_csv("example.csv", index_col = 0) ### yanlislikla index= false yazmadi isek index_col=0 ile duzeltebiliriz.
z

AttributeError: 'DataFrame' object has no attribute 'read_csv'

In [80]:
df.to_csv("example1.csv", index=False)
df

    a   b   c
0   0   1   2
1   4   5   6
2   8   9  10
3  12  13  14

## Excel
Pandas can read and write excel files, keep in mind, this only imports data. Not formulas or images, having images or macros may cause this read_excel method to crash.

### Excel Input

In [81]:
df = pd.read_excel('Excel_Sample.xlsx',sheet_name='Sheet1') #default ta sheet1 i getiriyor.
df

AttributeError: 'DataFrame' object has no attribute 'read_excel'

In [82]:
df = pd.read_excel('Excel_Sample.xlsx',sheet_name='Sheet2')
df

AttributeError: 'DataFrame' object has no attribute 'read_excel'

In [83]:
df1 = pd.ornekx_excel('ornekx.xlsx',sheet_name='Sheet2')
df1

AttributeError: 'DataFrame' object has no attribute 'ornekx_excel'

### Excel Output

In [84]:
df.to_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

In [85]:
df.to_excel('Excel_Sample.xlsx',sheet_name='Sheet1', index = False)

In [30]:
conda install lxml
conda install html5lib
conda install BeautifulSoup4

SyntaxError: invalid syntax (<ipython-input-30-658b7156a1a8>, line 1)

## HTML

You may need to install htmllib5,lxml, and BeautifulSoup4. In your terminal/command prompt run:

    conda install lxml
    conda install html5lib
    conda install BeautifulSoup4

Then restart Jupyter Notebook.
(or use pip install if you aren't using the Anaconda Distribution)

Pandas can read table tabs off of html. For example:

### HTML Input

Pandas read_html function will read tables off of a webpage and return a list of DataFrame objects:

In [86]:
df2 = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

AttributeError: 'DataFrame' object has no attribute 'read_html'

In [87]:
df2[0]

NameError: name 'df2' is not defined

In [88]:
df3 = pd.read_html('https://www.imdb.com/chart/top/')
df3

AttributeError: 'DataFrame' object has no attribute 'read_html'

In [89]:
df3[0]

NameError: name 'df3' is not defined

In [90]:
df4 = pd.read_html("https://en.wikipedia.org/wiki/Pythonidae")
df4

AttributeError: 'DataFrame' object has no attribute 'read_html'

____

_____
_____
# SQL (Optional)

* Note: If you are completely unfamiliar with SQL you can check out my other course: "Complete SQL Bootcamp" to learn SQL.

The pandas.io.sql module provides a collection of query wrappers to both facilitate data retrieval and to reduce dependency on DB-specific API. Database abstraction is provided by SQLAlchemy if installed. In addition you will need a driver library for your database. Examples of such drivers are psycopg2 for PostgreSQL or pymysql for MySQL. For SQLite this is included in Pythonâ€™s standard library by default. You can find an overview of supported drivers for each SQL dialect in the SQLAlchemy docs.


If SQLAlchemy is not installed, a fallback is only provided for sqlite (and for mysql for backwards compatibility, but this is deprecated and will be removed in a future version). This mode requires a Python database adapter which respect the Python DB-API.

See also some cookbook examples for some advanced strategies.

The key functions are:

* read_sql_table(table_name, con[, schema, ...])	
    * Read SQL database table into a DataFrame.
* read_sql_query(sql, con[, index_col, ...])	
    * Read SQL query into a DataFrame.
* read_sql(sql, con[, index_col, ...])	
    * Read SQL query or database table into a DataFrame.
* DataFrame.to_sql(name, con[, flavor, ...])	
    * Write records stored in a DataFrame to a SQL database.

In [ ]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('sqlite:///:memory:')

In [ ]:
df.to_sql('data', engine)

In [ ]:
sql_df = pd.read_sql('data',con=engine)

In [ ]:
sql_df

In [ ]:
data1 = pd.DataFrame({'key': ['A0', 'A1', 'A2'],
                        'B': ['B0', 'B1', 'B2'],
                        'C': ['C0', 'C1', 'C2']})
data1

# Great Job!